* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

body{
    display: grid;
    margin: 5rem;
    background-color: var(--rose-50);
}

.cart__container{
    width: 28rem;
    height: 100%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
}

.cart__header{
    font-size: 20px;
    color: var(--red);
    margin-bottom: 1.5rem;
} 

.empty__container p{
    font-size: 14px;
    text-align: center;
    color: var(--rose-500);
    font-weight: 500;
    margin-top: 1.5rem;
}

.cart__container img{
    display: block;
    margin: 0 auto;
}

.app{
    display: flex;
    gap: 10rem;
}

.dessert img{
    width: 17rem;
    height: 15rem;
    border-radius: 5px;
    transition: transform 0.4s ease;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 58rem;
    gap: 2.5rem;
}

.dessert__container h1{
    font-size: 32px;
    color: var(--rose-900);
    margin-bottom: 1.5rem;
}

.btn{
    position: absolute;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #fff;
    border: 1px solid var(--rose-400);
    margin-left: 3.2rem;
    margin-top: -1.5rem;
}

.btn-add svg{
    margin-right: 7px;
    
}

.btn-add{
    color: var(--rose-900);
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.btn-add:hover{
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
}

.dessert__info{
    margin-top: 2rem;
}

.category{
    color: var(--rose-500);
    font-size: 14px;
}

.dessert__name{
    color: var(--rose-900);
    font-weight: 600;
    margin: 5px 0;
}

.price{
    color: var(--red);
    font-weight: 600;
}

.dessert:hover img{
    transform: scale(1.08);
    cursor: pointer; 
}

/* cartItem styling */

.cart__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid var(--rose-100);
}

.item__header p{
    color: var(--rose-900) !important;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.item__details{
    display: flex;
    gap: 0.8rem;
}

.quantity{
    color: var(--red);
    font-weight: 600;
}

.item__price{
    color: var(--rose-500);
}

.item__totalprice{
    color: var(--rose-500);
    font-weight: 600;
}

.btn_remove{
    height: 23px;
    width: 23px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--rose-400);
    border-radius: 50%;
    margin-top: 0.5rem;
    transition: 0.4s;
}

.btn_remove svg{
    transition: 0.10s;
}

.btn_remove:hover{
    border-color: #000;
    cursor: pointer;
}
.btn_remove:hover svg path {
    fill: #000; 
    cursor: pointer;
}

/* cart styling */

.cart__total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0;
    align-items: center;
}

.cart__total > p{
    color: var(--rose-900);
}

.totalOrder{
    color: var(--rose-900);
    font-size: 24px;
    font-weight: 700;
}

.delivery{
    background-color: var(--rose-50);
    padding: 0.8rem 2rem;
    text-align: center;
    border-radius: 10px;
    color: var(--rose-900);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.delivery svg{
    margin-right: 0.5rem;
}

.carbon{
    font-weight: 600;
}

.btn_confirm{
    border: none;
    outline: none;
    background-color: var(--red);
    width: 100%;
    padding: 0.8rem 0;
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    transition: 0.4s;
}

.btn_confirm:hover{
    cursor: pointer;
    background-color: hsl(14deg 57.93% 38.98%)
}